<nav class="nav_section"> 

        <div class="imgLogo">
          
        </div>

        <div class="navbar-toggle" id="navbar-toggle">
        <img class="imagenMenu" src="/icon/menu.png">
        </div>
        
        <ul class="menu" id="navbar-menu">
            <li class="navbar-item"><a href="/main">Inicio</a></li>
            <li class="navbar-item"><a href="/cursosClient">Cursos</a></li>
             <li class="navbar-item"><a href="/peliculasClient">Entretenimiento</a></li>
            <li class="navbar-item"><a href="/librosClient">Libros</a></li>
            <li class="navbar-item"><a href="/streaming">Streaming</a></li>
            <li class="navbar-item"><a href="/capacitacion">Capacitacion</a></li>
            <li class="navbar-item"><a href="/logout">Cerrar</a></li>
        </ul>
     
    </nav>