<footer class="footer">
  <div class="footer-content">
    <h3 class="footer-title">Redes Sociales</h3>
    <ul class="footer-links">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <div class="footer-social">

      <div class='divFooterS 1'>
        <img src="/icon/whatsapp.png">
        <a href="#" class="footer-social-link">Whatsapp</a>
      </div>

      <div class='divFooterS 2'>
        <img src="/icon/twitter.png">
        <a href="#" class="footer-social-link">Twitter</a>
      </div class='divFooterS'>

      <div class='divFooterS 3'>
       <img src="/icon/instagram.png">
      <a href="#" class="footer-social-link">Instagram</a>
      </div>
      
      
    </div>
    <p class="footer-text">© 2024 Todos los derechos reservados</p>
  </div>
</footer>