<!DOCTYPE html>
<html lang="en">
<%-include('headerMain')-%>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class='container-logo'>
      <h1 class='h1-logo'><a href="/"><img src="/template/icon/corona.png" class='logoo' alt="">Global Dorado</a></h1>
    </div>
    <div class="container d-flex align-items-center justify-content-lg-between" id='container'>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>

          <li><a class="nav-link scrollto" href="/construccion">Cursos</a></li>
          <li><a class="nav-link scrollto" href="/construccion">Peliculas</a></li>
          <li><a class="nav-link scrollto " href="/construccion">Streaming</a></li>
          <li><a class="nav-link scrollto" href="/construccion">Capacitación</a></li>
          <li class="dropdown"><a href="#"><span>Entretenimiento</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Terror</a></li>
              <li class="dropdown"><a href="/construccion"><span>Series</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/construccion">Suspenso</a></li>
                  <li><a href="/construccion">Drama</a></li>
                  <li><a href="/construccion">Ciencia Ficción</a></li>
                  <li><a href="/construccion">Acción</a></li>
                  <li><a href="/construccion">Romance</a></li>
                </ul>
              </li>
              <li><a href="/construccion">Acción</a></li>
              <li><a href="/construccion">Religión</a></li>
              <li><a href="/construccion">Comedia</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/logout">Cerrar</a></li>
        </ul>
        <img width='30' src="/icon/menu.png" class="bi bi-list mobile-nav-toggle"/>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <h1><span class="textt">!Hola <%=name%>!</span><span id='titleMain'></span></h1>

      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/img/laptop.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3 id='h3Tutorial'>Tutorial de <span class='color-goldenrod'>entrenamiento</span></h3>
            <p class="fst-italic">
              Lo primero que debes realizar es el curso para que aprendas como vas a trabajar con el sistema, recuerda hacer el curso mínimo 3 veces o las veces que sea necesaria para que te quede mucho más claro como será tu trabajo diario.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>No necesitas tener experiencia previa</li>
              <li><i class="ri-check-double-line"></i>Trabaja desde la comodidad de tu hogar.</li>
              <li><i class="ri-check-double-line"></i>Trabajo remoto 24/7</li>
            </ul>
            <a href="/construccion">Haz click en este enlace para ver el curso donde aprenderas a trabajar</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/icon/b.svg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/icon/binance.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/icon/paypal.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/icon/zelle.svg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/icon/master.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/templateMain/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/icon/visa.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/icon/criptomoneda.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100" style='width:100%;display:flex;flex-direction: column;justify-content: center;align-items:center;'>
           <!-----------------------------------------------------------------------------> 
           <div class='cajaHorizontal'>

            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">

              <i class="bx bx-receipt"></i>
              <h4>Sistema Streaming</h4>
              <p>Servicio de TRANSMISIÓN EN VIVO
              Con Global Dorado, ahora también puedes convertirte en revendedor de pantallas de transmisión en vivo( Streaming ) a un precio accesible, lo que te permitirá obtener ganancias y generar ingresos mensuales por cada cliente que adquiera el servicio a través de ti.</p>
              <a class='redireccionStreaming' href="/construccion">Click</a>
            </div>

            <img src="/img/streaming.png" class='StreamingIMG'>

          </div>


          <!----------------------------------------------------------------------------->
          <div class="cajaHorizontal">
           <img src="/img/cursos.png" class='StreamingIMG'>
           <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-cube-alt"></i>
            <h4>Cursos VIP</h4>
            <p>Cursos EXCLUSIVOS
              En esta sección, tendrás acceso a una variedad de cursos impartidos por emprendedores destacados. Se trata de una recopilación de contenido diverso en un solo lugar. Es importante tener en cuenta que estos cursos ya han sido grabados y puedes elegir realizar aquellos que más te interesen.
            </p>
            <a class='redireccionStreaming' href="/construccion">Click</a>
          </div>
        </div>



        <div class="cajaHorizontal">

          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-images"></i>
            <h4>Entretenimiento</h4>
            <p>¿Eres amante del cine? Te ofrecemos una selección de películas que se actualizan periódicamente. Puedes disfrutar de este servicio ilimitadamente, y nuestro equipo de soporte trabaja diariamente para mantener el catálogo actualizado en tu beneficio.</p>
            <a class='redireccionStreaming' href="#">Click</a>
          </div>
          <img src="/img/entretenimiento.png" class='StreamingIMG'>
        </div>

        <div class="cajaHorizontal">
         <img src="/img/libros.png" class='StreamingIMG'>
         <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <i class="bx bx-shield"></i>
          <h4>Libros</h4>
          <p>Biblioteca Digital
          Para los apasionados de la lectura, contamos con una colección de más de 1000 libros digitales enfocados en desarrollo personal y crecimiento.</p>
          <a class='redireccionStreaming' href="/construccion">Click</a>
        </div>
      </div>

    </div>
  </div>

</div>
</section><!-- End Features Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <p>Soporte tecnico</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">Chat Bot</a></h4>
          <p>Soporte tecnico las 24/7 , vamos preguntame lo que necesites con tan solo un </p>
          <a href="/construccion">click.</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">Calificación</a></h4>
          <p>Califica Nuestros productos y contenido a traves de nuestro esquema de calificación de Usuarios y contenido</p>
          <a href="/construccion">click</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Comunidad</a></h4>
          <p>Unete a nuestra comunidad y recursos compartidos en la web</p>
           <a href="/construccion">click</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4><a href="">Reportes y restricciones</a></h4>
          <p> Denuncia Cualquier abuso o violación de los acuerdos establecidos por globalDorado</p>
          <a href="/construccion">click</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-slideshow"></i></div>
          <h4><a href="">Métodos de pago Para la Plataforma</a></h4>
          <p>tendrás los diferentes métodos de pago para que realices el pago de soporte para validar a tu nuevo cliente.
            No se hace devolución, porque ya tu afiliación fue pagada a soporte técnico y tu afiliación en el sistema es ILIMITADA, es decir, no tiene fecha de caducidad</p>
            <a href="#">Click</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Terminos y Condiciones</a></h4>
            <p>Primeramente antes de trabajar con nosotros debes leer los terminos y condiciones</p>
            <a href="/construccion">click.</a> 
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>¿Como afiliar un cliente?</h3>
          <p> Debes ver este apartado una vez realices tu primera venta para que aprendas como puedes afiliar a tus clientes y le des ingreso a la plataforma.</p>

          <a class="cta-btn" href="/construccion">ir</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Estadisticas y analisis de datos</h3>
              <p>
                Mecanismo Orientado a llevar una contabilidad y registro de las actividades referentes a GlobalDorado.
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>CLIENTES SATISFECHOS : </strong>Gracias a nuestro sistema de calificación podremos saber la opinión de nuestros usuarios.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>SUSCRIPTORES : </strong> Cada dia nos sentimos mas impulsados a ofrecerte nuestros mejores planes y suscripciones.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>AÑOS DE EXPERIENCIA : </strong> Las experiencias nos forman como personas y con cada una de ellas nos impulsamos en un desarrollo acelerado para mejor entrega de nuestros servicios.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>CONTENIDO : </strong> Contenido disponible y referente a los recursos de libre circulación.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/img/billies.jpg" class="testimonial-img" alt="">
                <h3>Emma Stone</h3>
                <h4>Ingeniera en Inteligencia Artificial</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Capacidad de respuesta optimización y ayuda en linea desde sistemas sencillos hasta sistemas complejos.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/templateMain/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Desarrolladora fron-end</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Diseños adaptables sencillo amigables y visualmente profesionales.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/img/yu.jpg" class="testimonial-img" alt="">
                <h3>Liliana smith</h3>
                <h4>Promotora Streaming</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Series peliculas actualizadas en las mejores plataformas streaming conocidas , donde disfrutaras una gran variedad de contenido como romance , drama , suspenso etc.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/templateMain/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Anderson Flores</h3>
                <h4>Freelancer financiero</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  La satisfacción de ver cómo mis ideas toman forma y se convierten en productos funcionales es incomparable. Además, la capacidad de generar ingresos a través de mi trabajo como freelancer me brinda la estabilidad financiera y la oportunidad de crecimiento profesional que busco.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/templateMain/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Jesus Espejo</h3>
                <h4>Capacitador</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Como capacitador de streaming y servicios de contenido de libre circulación, mi objetivo en Global Dorado es brindar a los usuarios una experiencia única y enriquecedora en el mundo digital. Nos especializamos en ofrecer capacitaciones y contenido de calidad, accesible para todos, sin barreras geográficas ni restricciones.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contactanos</h2>
          <p>Contacto</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">

            <div class="info" id='info'>
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Dirección:</h4>
                <p>A108 San juan Street, Guárico</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Correo:</h4>
                <p>globaldorado@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefono:</h4>
                <p>+58 0000 000 000</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="post" role="form" class="php-email-form" style='background:transparent;'>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ingrese Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ingrese Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Ingrese Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Global Dorado</h3>
              <p>
                A108 San Juan Street <br>
                NY 535022, Guárico<br><br>
                <strong>Telefono:</strong> +58 000 000 000<br>
                <strong>Correo:</strong> globalDorado@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Importante:</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Derechos de autor</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">creditos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terminos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Politicas</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Enlaces :</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Repositorio GitHub</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Proveedor Hosting</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Capacitación</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Estadisticas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Comentarios</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Suscribete</h4>
            <p>Descrubre los planes que te ofrecemos.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Suscribete">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/templateMain/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/templateMain/assets/vendor/aos/aos.js"></script>
  <script src="/templateMain/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/templateMain/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/templateMain/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/templateMain/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/templateMain/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/templateMain/assets/js/main.js"></script>
  <script type="text/javascript" src='/js/efectWrite2.js'></script>
</body>

</html>